@keyframes movetobottom {
    0% {  opacity: 1;  transform: translateY(0%);}
    40% { opacity: 0.8;transform: translateY(-50%); }
    75% {opacity: 0;transform: translateY(+500%); }
    100% {opacity: 0;transform: translateY(0%); }

}
.game-over {
    animation: movetobottom 1s ease forwards;  
}

@keyframes wholelottared {   
    100% {background-color: rgb(219, 86, 76);}
}

.paint-the-town-red{
    animation: wholelottared 1.5s ease forwards;
    

}