body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  background-color: #070932; 
}
#input-div.show-placeholder::placeholder {
  opacity: 1;
}
body{
  background-color: #070932; 
}
.container {
  position: relative;
}


.centered-div {
  position: relative; /* Changed to relative positioning */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-div #input-div{
  position: relative; /* Changed to relative positioning */

  width: 70vh; /* Adjust width as needed */
  height: 30vh; /* Adjust height as needed */
  background-color: #070932; 
  border-radius: 10px; /* Optional: adds rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 130px;
  letter-spacing: 0.1px;
  border: none;
}

#input-div {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
  color: #ffffff;
}


.centered-div-placeholder {
  position: absolute; /* Positioning the placeholder absolutely */
  font-size: 50px; /* Adjust font size as needed */
   /* Adjust color as needed */
   font-weight: 600;
   font-size: 130px;
   letter-spacing: 0.1px;
   pointer-events: none; /* Prevent interaction */
}

input{
text-align: center;
}



.side-div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30%; /* Adjust width as needed */
  height: 10vh; /* Adjust height as needed */
  background-color: #070932; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 60;
  border-radius: 5px;
  color: #ffffff;
}


.left-side {
  left: calc(1% - 200px - 25px); /* 200px from center div + half of side div width */
}

.right-side {
  right: calc(1% - 200px - 25px); /* 200px from center div + half of side div width */
}

#input-div{
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;

}

input:focus {
  outline: none; /* Prevent the default browser outline */
}

*{
    /* cursor: none; */
  caret-color: transparent;



}



