body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  background: none;
  background-color: #070932; 
}
#input-div.show-placeholder::placeholder {
  opacity: 1;
}
body{
  background-color: #070932; 
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
}


.centered-div #input-div {
  position: relative; /* Changed to relative positioning */

  width: 70vh; /* Adjust width as needed */
  height: 40vh; /* Adjust height as needed */
  background-color: #070932; 
  border-radius: 10px; /* Optional: adds rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 130px;
  letter-spacing: 0.1px;
  border: none;
}
.centered-div {
  position: relative; /* Changed to relative positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
}


#input-div {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
  color: #ffffff;
}

#input-div-back {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
  color: #ffffff;
}


.centered-div-placeholder {
  position: absolute; /* Positioning the placeholder absolutely */
  font-size: 50px; /* Adjust font size as needed */
   /* Adjust color as needed */
   font-weight: 600;
   font-size: 130px;
   letter-spacing: 0.1px;
   pointer-events: none; /* Prevent interaction */
   z-index: 2;
   /* opacity: 0; */
}

.hidden{
  opacity: 0;
}

input{
text-align: center;
}


.side-div {
  position: absolute;
  top: 50%; /* Start from the middle of the parent container */
  width: 30%; /* Adjust width as needed */
  height: 15vh; /* Adjust height as needed */
  background-color: #070932; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 10; /* Corrected typo */
  border-radius: 5px;
  color: #ffffff;
  z-index: 1;
  margin-top: -7.5vh; /* Half of the height to move it up */
}

.left-side {
  left: calc(1% - 105px - 25px); /* 100px from center div + half of side div width */
  /* transform: translateX(-50%); */
}

.right-side {
  right: calc(1% - 105px - 25px); /* 100px from center div + half of side div width */
  /* transform: translateX(50%); */

}

#input-div{
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;

}

input:focus {
  outline: none; /* Prevent the default browser outline */
}

*{
    /* cursor: none; */
  caret-color: transparent;



}
.top-side {
  position: absolute;
  top: 20vh; /* Adjust top positioning as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 200%; /* Adjust width as needed */
  height: 10vh; /* Adjust height as needed */
  background-color: #070932; /* Example background color */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 100;
  border-radius: 5px;
  color: #ffffff;

}

.bottom-side {
  position: absolute;
  bottom: 20vh; /* Adjust bottom positioning as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 170%; /* Adjust width as needed */
  height: 10vh; /* Adjust height as needed */
  background-color: #070932; /* Example background color */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 100;
  border-radius: 5px;
  color: #ffffff;
}